.content-wrapper {
  max-width: 1500px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  img {
    width: auto;
    margin: auto;
    max-height: 200px;
    height: 100%;
  }
}