// theme-fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@font-face {
  font-family: "Gerbil";   /*Can be any text*/
  src: local("Gerbil"),
    url("../fonts/Gerbil.otf") format("opentype");
}

:root{
  --colorText: #333333;
  --background: #FBFBFB;
  --toggleBackground: #dfe4ea;
  background-color: #333333;
}

[data-theme="dark"] {
  --colorText: #FBF8F1;
  --background: #333333;
  --toggleBackground: #F5F5F5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background);
  color: var (--colorText);
  margin: 0; padding: 0;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Gerbil', sans-serif;
}

h2{
  color: #EA0000;
  font-size: 30px;
}

a{
  color: var(--colorText);
}

a:hover{
  color:#EA0000;
  cursor: pointer;
}

select {
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

button{
  z-index: 10 !important;
}