//@import '../styles/theme-variables.scss';
@import './App.scss';

/*Header styles*/
.header {
  padding: 10px;
  z-index: 99;
  width: 100%;
  .header-content {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    .menuLinks {
      ul{
        list-style-type: none;
        display: flex;
        li {
          color: var (--colorText);
          padding: 0 12px;
        }
      }
    }
    .actions-header{
      display: flex;
      align-items: center;
      .select-translate{
        background-color: #D9D9D9;
        box-shadow: none;
        padding: 5%;
        border-radius: 5%;
        margin: 0 3%;
        width: 60px;
      }
      .toggle-theme-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        gap: 4px;
        .toggle-theme {
          position: relative;
          display: inline-block;
          height: 25px;
          width: 50px;
          .toggle-theme input {
            display: none;
          }
          .slider {
            background-color: #D9D9D9;
            border: 3px solid #333;
            position: absolute;
            cursor: pointer;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            transition: 0.2s;
          }
          .slider:before {
            background-color: #fff;
            bottom: 2.5px;
            content: "";
            height: 15px;
            width: 15px;
            left: 3px;
            position: absolute;
            transition: 0.4s;
            box-shadow: 2px 1px 1px rgba(62, 62, 62, 0.268);
          }
          input:checked + .slider:before {
            transform: translateX(25px);
            background-color: #333;
          }
          input:checked + .slider {
            background-color: #D9D9D9;
            border: 3px solid #fff;
          }       
          .slider.round {
            border-radius: 34px;
          }
          .slider.round:before {
            border-radius: 50%;
          }
        } 
      }
    }
  }
}

