//@import '../styles/theme-variables.scss';
@import './App.scss';

/*Header styles*/
.header {
  padding: 10px;
  z-index: 99;
  /*@include themify($themes) {
    background: themed('colorHeaderFooter');
  }*/
  .header-content {
    margin: auto;
    display: flex;
    .logo-section {
      height: 30px;
      text-decoration: none;
      display: flex;
      width: inherit;
      /*@include themify($themes) {
        color: themed('colorText');
      }*/
      font-weight: 600;
      text-transform: uppercase;
      img {
        width: 50px;
        height: 50px;
      }
      span {
        display: inline-block;
        font-size: 30px;
        margin: auto;
      }
    }
    .menuLinks {
      ul{
        list-style-type: none;
        display: flex;
        li {
          color: white;
          padding: 0 12px;
        }
      }
    }
  }
}

