//@import '../styles/theme-variables.scss';

.home{
   margin: auto;

   .hero{
    padding: 0 4%;
    text-align: center;
    h1{
      font-size: 10vh;
      margin-bottom: 14px;
      color: var(--colorText);
    }
    .hero-dis{
      background-color: #EAEAEA;
      border-radius: 15px;
      height: 60vh;
      padding: 1% 4%;
      h4{
         font-family: 'Lato', sans-serif;
         font-weight: 400;
         font-size: 20px;
      }
      button{
         padding: 18px 28px;
         background-color: #D9D9D9;
         border-radius: 4%;
         font-family: 'Lato', sans-serif;
         font-weight: bold;
         font-size: 16px;
         border: none;
      }
      button:hover{
         cursor: pointer;
         box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0,0,0,0.09);
         border: solid 1px #333;
      }
      button:active{
         box-shadow: 0 5px #666;
         transform: translateY(4px);
      }
    }
   }

   .welcome{
      display: flex;
      //flex-flow: row-reverse wrap;
      align-content: stretch;
      align-items: center;
      justify-content: space-between;
      gap: 4%;
      margin-top: 4%;
      padding: 4%;
      .welcome-text{
         flex-grow: 1;
         padding: 0 2%;
         color: var(--colorText);
         width: 40vw;
      }
      .welcome-img{
         img{
            width: 500px;
            height: auto;
         }
      }
   }

   .text-anima{
      .animation-text{
         white-space: nowrap;
         overflow: hidden;
         display: inline-block;
         animation: marquee 50s linear infinite;

         h2{
            color: var(--colorText);
            font-size: 12vh;
            padding: 0;
            margin: 0;
            display: inline-block;
         }
   
         @keyframes marquee {
            0% {
              transform: translate3d(0, 0, 0);
            }
            100% {
              transform: translate3d(-50%, 0, 0);
            }
          }
      }
   }

   .work-section{
      width: 100%;
      margin: 4% auto;
      padding: 0 4%;
      .section{
         display: flex;
         justify-content: center;
         align-content: center;
         text-align: center;
         gap: 71px;
         .work-card{
            width: 25%;
            padding: 3%;
            margin-bottom: 4%;
            background-color: #F5F5F5;
            border-radius: 12px;
            box-shadow: 6px 4px 33px rgba(0, 0, 0, 0.2);
            h4{
               font-family: 'Lato', sans-serif;
               font-weight: 300;
               font-size: 25px;
            }
            img{
               width: 60%;
               height: auto;
            }
         }
      }
   }

   .team-section{
      display: flex;
      align-content: stretch;
      justify-content: space-around;
      align-items: center;
      padding: 0 4%;
      margin-bottom: 4%;
      .members{
         display: flex;
         padding: 20px;
         gap: 30px;
         img{
            width: 130px;
            height: auto;
            margin: -30% 0 0 0;
         }
         .member-card{
            text-align: center;
            width: 180px;
            height: 250px;
            padding: 20px;
            background-color: #F5F5F5;
            box-shadow: 6px 4px 33px rgba(0, 0, 0, 0.2);
            border-radius: 12px;
         }
      }
      .team-text{
         width: 40vw;
         color: var(--colorText);
      }
   }

   .ctaSection{
      display: flex;
      padding: 4%;
      width: 50vw;
      color: var(--colorText);
      h3{
         font-weight: 300;
         color: #666;
      }
   }
}