// theme-variables.scss

$themes: (
    light: (
        colorHeaderFooter: #E5E5E5,
        colorText: #333333,
        colorBackground: #E5E5E5,
        toggleBackground: #dfe4ea,
    ),
    dark: (
        colorHeaderFooter: #333333,
        colorText: #FBF8F1,
        colorBackground: #333333,
        toggleBackground: #F5F5F5,
    ),
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key)
}
